* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.sobre-nosotros {
    background-color: white;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    
    background: linear-gradient(to right, hsla(242, 98%, 50%, 0.397), hsla(242, 100%, 50%, 0.364)), url(logo/fotoportada.png);

    background-attachment: fixed;
    
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
}

nav > a:hover{
    background-color: #3498db; 
    padding: 10px; 
    color: #fcfcfc;
    display: inline-block; 
    border-radius: 5px;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}



.ima22 {
    
    border-radius: 100%;
    height: 200px;
    width: 200px;   
}



main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
    background-color: #ffffff;
}

/* ABOUT US */

.imagen-about-us{
    margin-bottom: 60px;
    width: 99%;
}

.sobre-nosotros .contenido-textos{
    width: 95%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #2c00af;
    color: #f9f6f6;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.585);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.contenedor-sobre-nosotros {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas si no hay suficiente espacio */
    justify-content: space-evenly;
}

.imagen-about-us,
.sobre-nosotros .contenido-textos {
    width: 48%; /* Ambos elementos ocupan el 48% del contenedor */
    margin-bottom: 20px; /* Añade un margen inferior para separar las filas */
}

.sobre-nosotros .contenido-textos {
    background-color: #ffffff;
    padding: 20px; /* Añade relleno al contenido textos */
}

.imagen-about-us {
    margin-bottom: 20px; /* Añade un margen inferior a la imagen */
}


/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }


}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    
}
